main {
  padding-top: 96px; }
  main.home {
    padding-top: 0; }

@font-face {
  font-family: "Arsenal";
  font-weight: 700;
  src: url("../fonts/Arsenal-Bold.ttf") format("truetype");
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Helvetica";
  font-weight: 700;
  src: url("../fonts/Helvetica-Bold.ttf") format("truetype");
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-display: swap; }

body,
p,
ul, li,
h1, h2, h3, h4, h5, h6,
input,
textarea,
figure,
address,
blockquote,
iframe,
a {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;
  text-decoration: none;
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box; }

:root {
  font-size: 15px; }

body {
  font-family: "Montserrat", sans-serif; }

.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  @media (max-width: 992px) {
    .menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }
  .menu > li {
    font-size: 13px;
    letter-spacing: .1em;
    line-height: 16px;
    text-transform: uppercase; }
    @media (max-width: 992px) {
      .menu > li {
        -webkit-transform: translateX(100vw);
            -ms-transform: translateX(100vw);
                transform: translateX(100vw);
        -webkit-transition: all ease-in-out .3s;
        transition: all ease-in-out .3s;
        text-align: center; }
        .menu > li.active {
          -webkit-transform: translateX(0);
              -ms-transform: translateX(0);
                  transform: translateX(0); } }
    .menu > li.select > a:before {
      max-width: 100%; }
    .menu > li > a {
      color: #000;
      position: relative;
      display: block;
      padding: .66rem 0; }
      .menu > li > a:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: #000;
        left: 50%;
        bottom: 7px;
        max-width: 0;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        -webkit-transition: all ease-in-out .3s;
        transition: all ease-in-out .3s; }
      .menu > li > a:hover:before, .menu > li > a:active:before, .menu > li > a:focus:before {
        max-width: 100%; }

.menu-item-object-custom {
  position: relative; }
  .menu-item-object-custom:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 1px;
    background-color: #000;
    top: 50%;
    right: -13px;
    -webkit-transform: translateY(-50%) rotate(-130.6deg);
        -ms-transform: translateY(-50%) rotate(-130.6deg);
            transform: translateY(-50%) rotate(-130.6deg); }
    @media (max-width: 992px) {
      .menu-item-object-custom:after {
        top: 20px; } }
    @media (max-width: 992px) {
      .menu-item-object-custom:after {
        right: 65px; } }
  .menu-item-object-custom:before {
    position: absolute;
    content: '';
    width: 10px;
    height: 1px;
    background-color: #000;
    top: 50%;
    right: -19px;
    -webkit-transform: translateY(-50%) rotate(-44.42deg);
        -ms-transform: translateY(-50%) rotate(-44.42deg);
            transform: translateY(-50%) rotate(-44.42deg); }
    @media (max-width: 992px) {
      .menu-item-object-custom:before {
        top: 20px; } }
    @media (max-width: 992px) {
      .menu-item-object-custom:before {
        right: 58px; } }
  .menu-item-object-custom:hover .sub-menu {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    max-height: 1000px;
    opacity: 1; }
  .menu-item-object-custom .sub-menu {
    -webkit-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
            transform: translateX(-50px);
    max-height: 0;
    opacity: 0;
    overflow: auto;
    font-size: 0.85rem;
    width: 250px;
    position: absolute;
    left: -10px;
    z-index: 3;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s; }
    @media (max-width: 992px) {
      .menu-item-object-custom .sub-menu {
        position: relative;
        text-align: center;
        left: 0; } }
    .menu-item-object-custom .sub-menu::-webkit-scrollbar {
      width: 0; }
    .menu-item-object-custom .sub-menu li {
      background-color: #6F9890;
      -webkit-transition: all ease-in-out .3s;
      transition: all ease-in-out .3s;
      display: block; }
      .menu-item-object-custom .sub-menu li:hover, .menu-item-object-custom .sub-menu li:active, .menu-item-object-custom .sub-menu li:focus {
        background-color: #7ea39b; }
      .menu-item-object-custom .sub-menu li:not(:last-child) {
        border-bottom: 1px solid #000; }
    .menu-item-object-custom .sub-menu a {
      color: #000;
      display: block;
      padding: 10px 5px 10px 10px;
      text-transform: capitalize; }

.header__menu .menu li:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s; }

.header__menu .menu li:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s; }

.header__menu .menu li:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s; }

.header__menu .menu li:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s; }

.header__menu .menu li:nth-child(5) {
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s; }

.header {
  background-color: #6F9890;
  height: 4.3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media (max-width: 1200px) {
    .header {
      padding: 0 25px; } }
  @media (max-width: 767px) {
    .header {
      padding: 40px 15px 10px;
      height: unset; } }
  .header__wrap {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .header__logo {
    display: block;
    max-width: 235px;
    max-height: 2.8rem;
    width: 100%;
    height: auto;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s; }
    .header__logo:hover, .header__logo:active, .header__logo:focus {
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05); }
    @media (max-width: 1200px) {
      .header__logo {
        max-width: 14rem; } }
    .header__logo_img {
      max-width: 100%;
      height: auto; }
  .header__menu {
    max-width: 30rem;
    width: 100%; }
    @media (max-width: 992px) {
      .header__menu {
        max-width: unset;
        left: 0;
        top: 0;
        position: absolute;
        background-color: #6F9890;
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
        -webkit-transition: all ease-in-out .3s;
        transition: all ease-in-out .3s;
        overflow: hidden;
        padding-top: 1rem;
        height: 100vh; } }
    .header__menu.active {
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
      z-index: 100; }
  .header-menu__btn {
    display: none;
    height: 20px;
    width: 28px;
    cursor: pointer;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
    z-index: 10;
    position: relative; }
    @media (max-width: 992px) {
      .header-menu__btn {
        display: block; } }
  .header-menu__burger {
    position: absolute;
    top: 0.5rem;
    right: 0;
    width: 28px;
    height: 3px;
    background-color: #fff; }
    .header-menu__burger:before, .header-menu__burger:after {
      content: '';
      position: absolute;
      height: 3px;
      background-color: #fff;
      -webkit-transition: all ease-in-out .3s;
      transition: all ease-in-out .3s; }
    .header-menu__burger:before {
      top: -8px;
      width: 28px; }
    .header-menu__burger:after {
      width: 20px;
      top: 8px; }
    .header-menu__burger.active {
      -webkit-transform: rotate(720deg);
          -ms-transform: rotate(720deg);
              transform: rotate(720deg);
      background: transparent; }
      .header-menu__burger.active:before {
        -webkit-transform: rotate(45deg) translate(5px, 8px);
            -ms-transform: rotate(45deg) translate(5px, 8px);
                transform: rotate(45deg) translate(5px, 8px); }
      .header-menu__burger.active:after {
        -webkit-transform: rotate(-45deg) translate(3px, -7px);
            -ms-transform: rotate(-45deg) translate(3px, -7px);
                transform: rotate(-45deg) translate(3px, -7px);
        width: 28px; }
  .header__btn {
    width: 268px;
    text-align: center;
    background-color: #fff;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 0 21px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    font-weight: 500;
    color: #000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s; }
    .header__btn:hover, .header__btn:active, .header__btn:focus {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      text-decoration: underline; }
    @media (max-width: 1200px) {
      .header__btn {
        padding: 0 13px; } }
    @media (max-width: 992px) {
      .header__btn {
        display: none; } }

.footer {
  background-color: #000;
  padding: 27px 0;
  color: #fff; }
  @media (max-width: 1200px) {
    .footer {
      padding: 27px 25px; } }
  @media (max-width: 767px) {
    .footer {
      text-align: center;
      padding: 27px 15px; } }
  .footer__content {
    margin-left: 4.5vw; }
    @media (max-width: 1200px) {
      .footer__content {
        margin-left: 0; } }
  .footer__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 2rem; }
    @media (max-width: 767px) {
      .footer__header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 0; } }
    .footer__header_logo {
      max-width: 255px;
      -webkit-transition: all ease-in-out .3s;
      transition: all ease-in-out .3s;
      margin-right: 5.2rem; }
      .footer__header_logo:hover, .footer__header_logo:active, .footer__header_logo:focus {
        -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
                transform: scale(1.05); }
      @media (max-width: 1200px) {
        .footer__header_logo {
          max-width: 14rem;
          margin-right: 2rem; } }
      @media (max-width: 767px) {
        .footer__header_logo {
          margin-right: 0;
          margin-bottom: 1rem; } }
      .footer__header_logo-img {
        width: 100%; }
    .footer__header_link {
      color: #fff;
      letter-spacing: 0.1em;
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-right: 3.33rem; }
      .footer__header_link:hover, .footer__header_link:active, .footer__header_link:focus {
        text-decoration: underline; }
      @media (max-width: 1200px) {
        .footer__header_link {
          margin-right: 2rem; } }
      @media (max-width: 767px) {
        .footer__header_link {
          margin-right: 0;
          margin-bottom: 1rem; } }
  .footer__main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .footer__address {
    max-width: 255px;
    font-size: .93rem;
    text-transform: capitalize;
    margin-right: 5.2rem; }
    @media (max-width: 1200px) {
      .footer__address {
        max-width: 210px;
        margin-right: 2rem; } }
    @media (max-width: 767px) {
      .footer__address {
        margin-right: 0;
        width: 100%;
        max-width: unset;
        margin-bottom: .8rem; } }
    .footer__address p {
      margin-bottom: .8rem;
      width: 100%; }
  .footer__services {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media (max-width: 767px) {
      .footer__services {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%; } }
    .footer__services_caption {
      letter-spacing: 0.1em;
      font-size: 1rem;
      margin-right: 1.6rem;
      text-transform: uppercase; }
      @media (max-width: 767px) {
        .footer__services_caption {
          margin-bottom: 1rem;
          margin-right: 0; } }
    .footer__services_wrap {
      max-width: 37rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      @media (max-width: 767px) {
        .footer__services_wrap {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          text-align: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          max-width: 100%;
          width: 100%; } }
    .footer__services_item {
      font-size: .93rem;
      color: #fff;
      text-transform: capitalize;
      line-height: 1.21em;
      font-weight: 400;
      margin-bottom: 3px; }
      .footer__services_item:not(:last-child) {
        border-right: 1px solid #fff;
        margin-right: 10px;
        padding-right: 10px; }
        @media (max-width: 767px) {
          .footer__services_item:not(:last-child) {
            padding-bottom: 10px;
            margin-bottom: 10px;
            margin-right: 0;
            padding-right: 0;
            border: none;
            position: relative; }
            .footer__services_item:not(:last-child):after {
              position: absolute;
              content: '';
              bottom: 0;
              left: 50%;
              -webkit-transform: translateX(-50%);
                  -ms-transform: translateX(-50%);
                      transform: translateX(-50%);
              background-color: #fff;
              height: 1px;
              width: 12px; } }
      .footer__services_item:hover, .footer__services_item:active, .footer__services_item:focus {
        text-decoration: underline; }
  .footer__links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 15px; }
    @media (max-width: 767px) {
      .footer__links {
        margin-top: 25px; } }
    .footer__links_wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      @media (max-width: 767px) {
        .footer__links_wrap {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; } }
    .footer__links_link {
      font-size: .8rem;
      color: #fff;
      text-decoration: underline;
      text-transform: capitalize;
      padding: 0 5px; }
      .footer__links_link:hover, .footer__links_link:active, .footer__links_link:focus {
        text-decoration: none; }
      @media (max-width: 767px) {
        .footer__links_link {
          margin-bottom: 13px; } }

.btn {
  background-color: #6F9890;
  text-align: center;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid #6F9890;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s; }
  .btn:hover, .btn:active, .btn:focus {
    background-color: #fff;
    color: #6F9890;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25); }

.consultation-btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-family: "Montserrat"; }
  .consultation-btns__btn {
    width: 383px;
    border-radius: 5px;
    margin-right: 1.2rem;
    padding: 14px 0 12px;
    font-size: 1.2rem;
    font-weight: 500; }
  .consultation-btns__call-block {
    background-color: rgba(111, 152, 144, 0.05);
    max-width: 245px;
    width: 100%;
    padding: 8px 13px;
    font-size: .8rem;
    line-height: 1.25em; }
    .consultation-btns__call-block_caption {
      font-weight: 600;
      margin-bottom: 4px; }
    .consultation-btns__call-block a {
      color: #024DBD; }
      .consultation-btns__call-block a:hover, .consultation-btns__call-block a:active, .consultation-btns__call-block a:focus {
        text-decoration: underline; }
  .consultation-btns.col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

.form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-family: "Montserrat"; }
  .form__label {
    padding-top: 14px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    font-size: 1.06rem;
    color: #9CA5A9;
    line-height: 1.25em;
    font-weight: 500;
    margin-bottom: 2.13rem;
    cursor: pointer; }
  .form__input {
    margin-top: -14px;
    padding: 14px 29px;
    display: block;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    background: #FFF;
    border: 1px solid rgba(69, 78, 81, 0.79);
    width: 370px; }
    .form__input::-webkit-input-placeholder {
      color: #CDD4D6; }
    .form__input::-moz-placeholder {
      color: #CDD4D6; }
    .form__input:-ms-input-placeholder {
      color: #CDD4D6; }
    .form__input::-ms-input-placeholder {
      color: #CDD4D6; }
    .form__input::placeholder {
      color: #CDD4D6; }
  .form textarea.form__input {
    height: 121px;
    resize: none; }
  .form__btn {
    font-family: "Montserrat";
    width: 150px;
    font-weight: 500;
    padding: 16px 0;
    cursor: pointer;
    letter-spacing: 0.14em; }

.banner {
  background-color: #fff;
  padding: 24px; }
  .banner .corner {
    position: absolute;
    background-color: #fff;
    width: 41px;
    height: 23px;
    z-index: 2; }
    .banner .corner:before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #000; }
  .banner__rt-top {
    right: -14px;
    top: -6px;
    -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
            transform: rotate(225deg); }
  .banner__lt-top {
    left: -14px;
    top: -6px;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg); }
  .banner__rt-bottom {
    right: -14px;
    bottom: -6px;
    -webkit-transform: rotate(315deg);
        -ms-transform: rotate(315deg);
            transform: rotate(315deg); }
  .banner__lt-bottom {
    left: -14px;
    bottom: -6px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .banner__wrap {
    width: 100%;
    position: relative;
    border: 1px solid #000;
    z-index: 1; }
  .banner__caption {
    text-transform: capitalize;
    font-weight: 300;
    font-size: 28px;
    line-height: 1.2em; }
  .banner__text {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    color: #222425; }
  .banner__link {
    font-family: "Roboto";
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .12em;
    text-decoration: underline;
    font-size: 1rem;
    line-height: 1.19em;
    color: #000; }
    .banner__link:hover, .banner__link:active, .banner__link:focus {
      text-decoration: none; }

.octagon {
  background-color: #fff;
  position: relative;
  width: 100%; }
  .octagon_item {
    position: absolute;
    background-color: #fff; }
    .octagon_item .corner {
      position: relative;
      display: block;
      height: -webkit-fill-available; }
      .octagon_item .corner:after {
        position: absolute;
        content: '';
        width: 51.5px;
        height: 24px;
        background-color: #fff; }
  .octagon_top {
    height: 31px;
    top: -31px;
    border-top: 1px solid #6F9890;
    left: 0;
    right: 0; }
    .octagon_top .corner:after {
      -webkit-transform: rotate(-37deg);
          -ms-transform: rotate(-37deg);
              transform: rotate(-37deg);
      top: 12px;
      left: -39px;
      border-top: 1px solid #6F9890; }
  .octagon_bottom {
    border-bottom: 1px solid #6F9890;
    left: 0;
    right: 0;
    bottom: -31px;
    height: 31px; }
    .octagon_bottom .corner:after {
      border-bottom: 1px solid #6F9890;
      bottom: 12px;
      right: -39px;
      -webkit-transform: rotate(-37deg);
          -ms-transform: rotate(-37deg);
              transform: rotate(-37deg); }
  .octagon_lt {
    border-left: 1px solid #6F9890;
    top: 0;
    bottom: 0;
    width: 41px;
    left: -41px; }
    .octagon_lt .corner:after {
      border-bottom: 1px solid #6F9890;
      left: 1px;
      bottom: -18px;
      -webkit-transform: rotate(37deg);
          -ms-transform: rotate(37deg);
              transform: rotate(37deg); }
  .octagon_rt {
    border-right: 1px solid #6F9890;
    top: 0;
    bottom: 0;
    width: 41px;
    right: -41px; }
    .octagon_rt .corner:after {
      border-top: 1px solid #6F9890;
      right: 1px;
      top: -18px;
      -webkit-transform: rotate(37deg);
          -ms-transform: rotate(37deg);
              transform: rotate(37deg); }

.breadcrumbs {
  margin-top: 44px;
  letter-spacing: 0.01em;
  font-size: 1.2rem;
  line-height: 150%; }
  .breadcrumbs_item {
    color: #000;
    margin-right: 1.2rem;
    position: relative;
    cursor: auto;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .breadcrumbs_item:not(:last-child) {
      cursor: pointer; }
      .breadcrumbs_item:not(:last-child):after {
        position: absolute;
        content: '';
        width: 6px;
        height: 7px;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        right: -14px;
        background-image: url("../../img/rt-arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
      .breadcrumbs_item:not(:last-child):hover, .breadcrumbs_item:not(:last-child):active, .breadcrumbs_item:not(:last-child):focus {
        text-decoration: underline; }

.covid {
  padding: 3rem 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(111, 152, 144, 0.05); }
  .covid__wrap {
    max-width: 61.67rem;
    margin: 0 auto; }
  .covid__caption {
    letter-spacing: 0.02em;
    font-weight: 600;
    font-size: 2.53rem;
    line-height: 1;
    margin-bottom: 1rem; }
  .covid__subcaption {
    text-transform: initial;
    letter-spacing: .01em;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1; }
  .covid__content {
    margin-top: 2.67rem;
    font-family: "Roboto";
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%; }
  .covid__item {
    max-width: 30%; }
    .covid__item_caption {
      margin-bottom: .8rem;
      font-size: 2.53rem;
      line-height: 1; }
    .covid__item_text {
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1; }

.sale-block {
  max-width: 1280px;
  width: 100%;
  padding: 13px;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  letter-spacing: .03em;
  text-align: center;
  font-size: 24px;
  line-height: 29px; }
  .sale-block > p {
    font-weight: 600; }
  .sale-block > span {
    color: #DA2314; }

main {
  font-family: "Roboto"; }

.first-section {
  width: 100%; }
  .first-section__caption {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 150.5%; }

.second-section {
  margin-top: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .second-section .description-block {
    max-width: 714px;
    width: 100%;
    margin-right: 88px;
    padding-top: 4rem; }
    .second-section .description-block__caption {
      margin-bottom: 1em;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.18em; }
    .second-section .description-block__text {
      font-family: "Montserrat";
      font-size: 14px;
      letter-spacing: 0.01em;
      line-height: 140.5%;
      margin-bottom: 3.33rem; }
    .second-section .description-block__btns {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      font-family: "Montserrat"; }
      .second-section .description-block__btns_btn {
        width: 25.53rem;
        border-radius: 5px;
        margin-right: 1.2rem;
        font-weight: 500;
        padding: 13px 0;
        font-size: 1.2rem; }
      .second-section .description-block__btns_call {
        background: rgba(111, 152, 144, 0.05);
        max-width: 16.33rem;
        width: 100%;
        padding: 0 13px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        font-size: .8rem;
        font-weight: 600;
        line-height: 1.25em; }
        .second-section .description-block__btns_call span {
          font-weight: 400; }
        .second-section .description-block__btns_call a {
          color: #024DBD; }
          .second-section .description-block__btns_call a:hover, .second-section .description-block__btns_call a:active, .second-section .description-block__btns_call a:focus {
            text-decoration: underline; }
    .second-section .description-block__services {
      font-weight: 500;
      margin-top: 87px; }
      .second-section .description-block__services_caption {
        margin-bottom: 47px;
        font-size: 28px;
        line-height: 34px;
        font-weight: 400; }
      .second-section .description-block__services_item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        margin-bottom: 2rem; }
        .second-section .description-block__services_item figure {
          width: 36px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
          margin-right: 16px; }
          .second-section .description-block__services_item figure img {
            max-width: 100%;
            height: auto; }
        .second-section .description-block__services_item a {
          color: #000;
          text-decoration: underline;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px; }
          .second-section .description-block__services_item a:hover, .second-section .description-block__services_item a:active, .second-section .description-block__services_item a:focus {
            text-decoration: none; }
  .second-section .info-block {
    width: calc( 100% - 714px - 88px);
    padding: 5.4rem 0 186px 34px;
    position: relative; }
    .second-section .info-block:after {
      z-index: 0;
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(111, 152, 144, 0.05);
      right: calc(((100vw - 17px) - 1120px) / -2); }
    .second-section .info-block__caption {
      max-width: 100%;
      font-weight: 500;
      line-height: 150%;
      font-size: 18px;
      margin-bottom: 50px; }
    .second-section .info-block__numbers {
      position: relative;
      z-index: 1; }
      .second-section .info-block__numbers_number {
        padding-left: 35px;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 1rem;
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: center left; }
        .second-section .info-block__numbers_number:first-of-type {
          background-image: url("../../../img/contacts-page/phone-icon.svg"); }
        .second-section .info-block__numbers_number:last-of-type {
          background-image: url("../../../img/contacts-page/fax-icon.svg"); }
        .second-section .info-block__numbers_number a {
          color: #7F6AFF; }
          .second-section .info-block__numbers_number a:hover, .second-section .info-block__numbers_number a:active, .second-section .info-block__numbers_number a:focus {
            text-decoration: underline; }
    .second-section .info-block__map {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 220px;
      margin: 50px 0; }
      .second-section .info-block__map iframe {
        width: 100%;
        height: 100%; }
    .second-section .info-block__schedule {
      margin-bottom: 84px; }
      .second-section .info-block__schedule_caption {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.06em;
        margin-bottom: 20px; }
      .second-section .info-block__schedule_item {
        font-size: 16px;
        line-height: 1.05em;
        margin-bottom: 14px; }
        .second-section .info-block__schedule_item-close {
          font-weight: 500;
          font-size: 20px;
          margin-top: 18px; }
    .second-section .info-block__external-links {
      position: relative;
      z-index: 1;
      margin-bottom: 2rem; }
      .second-section .info-block__external-links_caption {
        font-size: 18px;
        line-height: 150%;
        font-weight: 500; }
      .second-section .info-block__external-links_link {
        color: #7F6AFF;
        font-size: 16px;
        display: inline-block;
        line-height: 170%;
        font-weight: 500;
        margin-right: 10px; }
        .second-section .info-block__external-links_link:hover, .second-section .info-block__external-links_link:active, .second-section .info-block__external-links_link:focus {
          text-decoration: underline; }
      .second-section .info-block__external-links_subcaption {
        font-weight: 500;
        margin-top: 1rem;
        font-size: 18px;
        line-height: 170%; }

.form-section {
  padding: 64px 0 122px;
  background-image: url("../../../img/contacts-page/form-section-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom; }
  .form-section__wrap {
    max-width: 390px;
    width: 100%;
    padding: 40px;
    background-color: #fff; }
  .form-section__caption {
    font-weight: 500;
    font-size: 28px;
    line-height: .9em;
    margin-bottom: 10px; }
  .form-section__note {
    font-size: 14px;
    line-height: .9em;
    font-family: "Montserrat";
    margin-bottom: 2rem; }
  .form-section .form__label {
    display: block;
    padding-top: 0;
    margin-bottom: 16px; }
  .form-section .form__input {
    width: 309px;
    margin-top: 6px; }
  .form-section .form__btn {
    margin-left: calc( 100% - 309px); }
