.four-section {
  height: 40rem;
  background-image: url("../../../img/home-page/four-section-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  & .container {
    position: relative;
    height: 100%;
  }

  & .banner {
    max-width: 48rem;
    width: 100%;
    position: absolute;
    right: 0;
    top: -11rem;

    &__wrap {
      padding: 1.47rem 1.33rem .33rem 4.53rem;
    }
  }

  &__list {
    width: 100%;
    @include flex( $j-c: space-between );
    margin-top: 2.13rem;

    &_item {
      width: 30%;
      margin-bottom: 2.2rem;
      text-align: center;

      &-img-wrap {
        width: 100%;
        @include flex-center;
      }

      &-img {
        max-height: 3.2rem;
        width: auto;
      }

      &-text {
        margin-top: 0.53rem;
        text-transform: uppercase;
        font-weight: 500;
        font-size: .93rem;
        line-height: 1.21em;
      }
    }
  }

}