.four-section {
  padding: 30px 0;
  background-image: url("../../../img/home-page/four-section-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include response-to(small) {
    padding: 0;
  }

  & .banner {
    max-width: 915px;
    margin-left: auto;

    @include response-to(small) {
      background-color: rgba(#fff, .9);
      margin: 0 -15px;
      padding: 40px 15px;
    }

    &__wrap {
      padding: 35px 25px 35px 50px;

      @include response-to(small) {
        border: none;
        padding: 0;
      }

      & .corner {

        @include response-to(small) {
          display: none;
        }
      }
    }

    &__caption {
      text-align: center;
    }
  }

  &__list {
    width: 100%;
    @include flex( $j-c: space-between );
    margin-top: 35px;

    @include response-to(small) {
      flex-wrap: wrap;
    }

    &_item {
      width: 47%;
      margin-bottom: 2rem;
      display: flex;
      align-items: center;

      @include response-to(small) {
        width: 100%;
        margin-bottom: 24px;
      }

      &-img-wrap {
        width: 36px;
        margin-right: 20px;
        @include flex-center;
      }

      &-img {
        max-height: 3.2rem;
        width: auto;
        max-width: 100%;
      }

      &-text {
        font-family: $roboto;
        text-decoration: underline;
        color: #000;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        cursor: pointer;

        @include response-to(small) {
          font-size: 14px;
        }


        @include on-event {
          text-decoration: none;
        }
      }
    }
  }

}