.home {

  & .covid {
    padding: 55px 0;
    background-image: url("../../../img/home-page/sec-section-bg.png");

    &__caption {
      font-weight: 400;
      font-size: 28px;
    }

    &__content {
      margin-top: 55px;
    }

    &__subcaption {
      letter-spacing: 0.03em;
      font-weight: 300;
    }

    &__item {

      &_text {
        font-weight: 300;
      }
    }
  }
}