@import 'slider/first-slide';
@import 'slider/second-slide';
@import 'slider/third-slide';
@import 'slider/four-slide';

.slider {
  width: 100%;
  position: relative;
  height: 600px;

  &__item {
    height: 600px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include response-to(small) {
      height: 726px;
    }
  }

  &__offer {
    z-index: 2;
    position: absolute;
    right: calc((100% - 1280px) / 2);
    bottom: -54px;
    background-color: #fff;
    padding: 2.66rem 3.13rem 2rem;
    max-width: 22rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);

    @include response-to(large) {
      padding: 16px 30px 20px;
      max-width: 300px;
      width: 100%;
      right: 15px;
    }

    @include response-to(medium) {
      right: unset;
      left: 50%;
      transform: translateX(-50%);
      bottom: -22px;
    }

    &_text {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 33px;
      text-align: center;
      line-height: 2.5rem;
      text-transform: uppercase;
      letter-spacing: .08em;

      @include response-to(large) {
        font-size: 12px;
        margin-bottom: 14px;
        line-height: 14px;
      }
    }

    &_btn {
      width: 100%;
      padding: 24px 0;
      letter-spacing: .08em;
      font-size: .86rem;
      line-height: 1.07rem;

      @include response-to(large) {
        padding: 14px 0;
      }
    }
  }

  &__dots {
    max-width: 160px;
    width: 100%;
    z-index: 2;
    position: absolute;
    @include flex( $a-i: center, $j-c: space-between );
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;

    @include response-to(medium) {
      bottom: 110px;
    }
  }

  & button {
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    @include flex-center();
    @include transition-ease;
    border: none;
    padding: 0;

    &.active {
      background-color: color( main-color );
    }

    @include on-event {
      outline: none;
      background-color: color( main-color );
    }

    & span {
      background-color: #fff;
      display: block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}