.third-section {
  height: 672px;
  background-image: url("../../../img/home-page/third-section-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;

  & .container {
    position: relative;
    height: 100%;
  }

  & .banner {
    position: absolute;
    max-width: 545px;
    top: 154px;

    &__wrap {
      padding: 37px 28px 37px 35px;
    }

    &__caption {
      max-width: 246px;
      margin-bottom: 16px;
    }

    &__text {
      margin-bottom: 16px;
    }
  }
}