$roboto: 'Roboto';
$montserrat: 'Montserrat';
$arsenal: 'Arsenal';
$helvetica: 'Helvetica';

$dir: '../fonts';

@include font-face( $dir, $arsenal, 'Bold', $extension: 'otf');

@include font-face( $dir, $helvetica, 'Bold', $extension: 'otf');

@include font-face( $dir, $roboto, 'Bold', $extension: 'otf');
@include font-face( $dir, $roboto, 'Medium', $extension: 'otf');
@include font-face( $dir, $roboto, 'Light', $extension: 'otf');
@include font-face( $dir, $roboto, 'Regular', $extension: 'otf');

@include font-face( $dir, $montserrat, 'Regular', $extension: 'otf');
@include font-face( $dir, $montserrat, 'Bold', $extension: 'otf');
@include font-face( $dir, $montserrat, 'ExtraBold', $extension: 'otf');
@include font-face( $dir, $montserrat, 'Light', $extension: 'otf');
@include font-face( $dir, $montserrat, 'Medium', $extension: 'otf');
@include font-face( $dir, $montserrat, 'SemiBold', $extension: 'otf');