@import "main";

@import "pages/services/components/why-we";
@import "pages/services/components/our-team";
@import "pages/services/components/calculator";
@import "pages/services/components/about-servece";
@import "pages/services/components/introduce";
@import "pages/services/components/bull-list";
@import "pages/services/components/reviews";
@import "pages/services/components/difference";
@import "pages/services/components/service-offer";
@import "pages/services/components/short-introduce";

@import "pages/services/cosmetic-dentistry";
@import "pages/services/emergency-dentist";
@import "pages/services/dental-implants";
@import "pages/services/gum-disease-control-and-therapy";
@import "pages/services/headaches-and-tmd-relief";
@import "pages/services/orthodontics";
@import "pages/services/root-canals";
@import "pages/services/sedation-during-dentistry";
@import "pages/services/teeth-whitening";
@import "pages/services/tooth-extraction-without-sedation";
@import "pages/services/veneers";

.service {

  &__section-caption{
    font-family: $roboto;
    font-size: 2.53rem;
    text-align: center;
    font-weight: 700;
  }

  &__text-block {
    margin-bottom: 4.73rem;
  }

  &__caption {
    font-family: $montserrat;
    font-weight: 500;
    font-size: 2.13rem;
    margin-bottom: 2rem;
  }

  &__text {
    font-family: $montserrat;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 3.67rem;
  }
}