.bull-list {

  &_item {
    padding-left: 36px;
    position: relative;
    line-height: 197.5%;
    margin-top: 21px;
    font-size: 16px;
    font-weight: 500;

    @include response-to(small) {
      margin-top: 15px;
    }

    &:before {
      position: absolute;
      content: '';
      width: 14px;
      height: 14px;
      border: 2px solid #8BBECF;
      border-radius: 50%;
      top: 6px;
      left: 0;
      background-color: #fff;
    }
  }
}