.calculator {
  background-color: rgba( color( main-color ), 0.05 );
  padding: 42px 0 57px;
  margin-bottom: 65px;

  @include response-to(small) {
    margin-bottom: 40px;
    padding: 30px 0 47px;
  }

  &__wrap {
    text-align: center;
  }

  &__caption {
    font-family: $roboto;
    font-weight: 700;
    font-size: 38px;
    text-transform: uppercase;
    line-height: 1.18em;
    margin-bottom: 15px;

    @include response-to(small) {
      font-size: 28px;
      margin-bottom: 21px;
    }
  }

  &__subcaption {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.21em;
    margin-bottom: 33px;

    @include response-to(small) {
      display: none;
    }
  }

  &__list {
    max-width: 575px;
    width: 100%;
    @include flex( $j-c: space-between, $a-i:stretch );
    margin-left: auto;
    margin-right: auto;
  }

  &__select-age {
    margin-bottom: 3.33rem;

    @include response-to(small) {
      margin-bottom: 15px;
    }

    &_item {
      width: 31%;
      background-color: #C4C4C4;
      text-align: center;
      padding: 12px 0;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.22em;
      cursor: pointer;
      @include transition-ease;

      @include on-event {
        background-color: rgba(color( main-color ), .7 );
      }

      @include response-to(small) {
        width: 100%;
        margin-bottom: 16px;
      }

      &.active {
        background-color: color( main-color );
      }
    }
  }

  &__block-note {
    flex: 0 0 100%;
    text-align: left;
    color: #414042;
    font-size: 1.2rem;
    line-height: 1.22em;
    margin-bottom: 5px;

    @include response-to(small) {
      text-align: center;
    }
  }

  &__main {
    margin-bottom: 5.33rem;

    @include response-to(small) {
      margin-bottom: 54px;
    }

    &_item {
      cursor: pointer;
      margin-top: 21px;
      width: 31%;
      background-color: #fff;
      padding: 2.4rem 10px 1.67rem;
      box-shadow: 0 4px 24px rgba(156, 165, 169, 0.2);
      @include transition-ease;
      @include on-event {
        background-color: rgba(color( main-color ), .7 );
        box-shadow: 0 6px 24px rgba(156, 165, 169, 0.5);
      }

      &.wide {
        width: 48%;
      }

      &.active {
        background-color: color( main-color );
        box-shadow: 0 6px 24px rgba(156, 165, 169, 0.5);
      }

      &-caption {

        @include response-to(small) {
          font-size: 10px;
        }
      }

      &-img {
        width: 87px;
        height: 39px;
        margin: 0 auto 1rem;

        @include response-to(small) {
          width: 85%;
          margin-bottom: 10px;
          height: unset;
        }

        & img {
          width: 100%;
          display: block;
        }
      }
    }
  }

  &__btn {
    width: 233px;
    margin: 0 auto;
    padding: 19px 0 22px;
    letter-spacing: 0.14em;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.21em;

    @include response-to(small) {
      padding: 15px 0 16px;
    }
  }

  &.no-image {

    & .calculator__main_item {
      padding: 20px 10px;
      @include flex-center();

      @include response-to(small) {
        padding: 10px 10px;
      }
    }

    & .calculator__main_item-caption {
      max-width: 131px;
      text-align: center;
      font-size: 1rem;
      font-weight: 700;
      line-height: 150.53%;
      word-break: break-word;

      @include response-to(small) {
        font-size: 12px;
      }
    }

    & .calculator__main_item {

      @include response-to(small) {
        padding: 10px;
        height: unset;
      }
    }
  }

  &__warning  {
    color: red;
    margin-top: 10px;
    font-weight: 700;
  }
}