.our-team {
  margin-bottom: 153px;
  background-color: rgba( color( main-color ), .05 );
  padding-top: 83px;
  padding-bottom: 71px;
  position: relative;
  display: flex;

  @include response-to(small) {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    background-color: unset;
  }

  &:before {
    position: absolute;
    left: 100%;
    right: calc((100vw - 1137px) / -2);
    bottom: 0;
    top: 0;
    content: '';
    background-color: rgba( color( main-color ), .05 );

    @include response-to(small) {
      content: none;
    }
  }

  &__photo {
    width: fit-content;
    margin-right: 60px;
    padding: 25px 29px;
    position: relative;
    max-width: 390px;

    @include response-to(small) {
      max-width: 350px;
      width: 100%;
      margin: 58px 0;
    }

    &:before {
      position: absolute;
      top: -84px;
      bottom: -72px;
      left: -25px;
      right: 178px;
      background-color: #fff;
      content: '';

      @include response-to(small) {
        top: -58px;
        bottom: -58px;
        background-color: rgba( color( main-color ), .05 );
        right: calc((100vw - 350px) / -2);
        left: 50%;
      }

      @media(max-width: 400px) {
        right: -15px;
      }
    }

    &_wrap {
      width: 100%;
    }

    &_img {
      width: 100%;
    }
  }

  &__content {
    position: relative;
    max-width: 640px;
    margin-top: 30px;

    @include response-to(medium) {
      max-width: 400px;
    }

    @include response-to(small) {
      max-width: unset;
    }
  }

  &__caption {
    font-family: $roboto;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.18em;
    margin-bottom: 2rem;
  }

  &__text {
    font-size: 16px;
    line-height: 140.5%;
    letter-spacing: 0.01em;
    margin-bottom: 50px;
  }

  &__btn {
    border-radius: 5px;
    width: 383px;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.22em;
    padding: 14px 0 12px;
    margin-bottom: 1.6rem;
  }

  &__under-btn {
    background: rgba( color(main-color), 0.05);
    padding: 8px 15px;
    max-width: 245px;
    font-size: .8rem;
    line-height: 1.25em;

    &.green {
      color: color(main-color);
    }

    &_caption {
      font-weight: 600;
    }

    &_num {
      margin-top: 4px;

      & a {
        color: #024DBD;

        @include on-event {
          text-decoration: underline;
        }
      }
    }
  }

  & .consultation-btns {

    &__call-block {

      @include response-to(medium) {
        margin-bottom: 24px;
      }
    }
  }
}