.service .reviews {
  width: 100%;
  margin: 0 auto;
}

.service .review {
  margin-top: 75px;

  &:nth-child(even) {

    .review__img {
      order: 2;
      margin-left: 45px;

      @include response-to(large) {
        margin-left: 0;
      }

      @include response-to(small) {
        order: 0;
      }

      &:before {
        left: 65px;
        right: calc((100vw - 1137px) / -2);

        @include response-to(medium) {
          right: -25px;
        }

        @include response-to(small) {
          right: -15px;
          left: -15px;
        }
      }
    }
  }

  &:nth-child(odd) {

    .review__img {
      margin-right: 45px;

      @include response-to(large) {
        margin-right: 0;
      }

      &:before {
        right: 65px;
        left: calc((100vw - 1137px) / -2);

        @include response-to(medium) {
          left: -25px;
        }

        @include response-to(small) {
          right: -15px;
          left: -15px;
        }
      }
    }
  }

  &__caption {
    font-family: $roboto;
    margin: 0 auto 75px;
    font-weight: 700;
    text-align: center;
    font-size: 32px;
    line-height: 118%;

    @include response-to(small) {
      font-size: 24px;
      line-height: 27px;
      margin-bottom: 55px;
    }
  }

  &__content {
    @include flex( $j-c: space-between );
    width: 100%;

    @include response-to(small) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__text-block {
    max-width: 610px;

    @include response-to(large) {
      max-width: 60%;
    }

    @include response-to(small) {
      max-width: 100%;
    }

    &_caption {
      margin-bottom: 1.7rem;
      font-family: $roboto;
      font-size: 28px;
      line-height: 150%;

      @include response-to(small) {
        font-size: 24px;
      }

      & > a {
        color: #000;
        text-transform: capitalize;
        font-weight: 700;
        text-decoration: underline;
        
        @include on-event {
          text-decoration: none;
        }
      }
    }
  }

  &__text {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 50px;
  }

  &__img {
    padding: 25px 29px;
    max-width: 450px;
    position: relative;

    @include response-to(large) {
      max-width: 38%;
    }

    @include response-to(small) {
      max-width: 400px;
      width: 100%;
      margin-bottom: 50px;
    }

    &:before {
      position: absolute;
      content: '';
      top: -31px;
      bottom: -31px;
      background-color: rgba( color( main-color ), .03 );
    }

    & figure {
      max-width: 100%;

      & img {
        max-width: 100%;
      }
    }
  }

  & .consultation-btns {
    align-items: center;

    @include response-to(small) {
      flex-direction: column;
    }

    &__call-block {

      @include response-to(small) {
        width: 312px;
        margin-top: 24px;
        max-width: unset;
      }
    }
  }
}