@import '../components/menu';

.header {
  background-color: color( main-color );
  height: 4.3rem;
  @include flex-center();

  @include response-to(small) {
    padding: 40px 0 10px;
    height: unset;
  }

  &__wrap {
    height: 100%;
    width: 100%;
    @include flex( $j-c: space-between, $a-i: center );
  }

  &__logo {
    display: block;
    max-width: 235px;
    max-height: 2.8rem;
    width: 100%;
    height: auto;
    @include transition-ease;

    @include on-event {
      transform: scale(1.05);
    }

    @include response-to(large) {
      max-width: 14rem;
    }

    &_img {
      max-width: 100%;
      height: auto;
    }
  }

  &__menu {
    max-width: 30rem;
    width: 100%;

    @include response-to(medium) {
      max-width: unset;
      left: 0;
      top: 0;
      position: absolute;
      background-color: color(main-color);
      transform: translateY(-100%);
      @include transition-ease;
      overflow: hidden;
      padding-top: 3rem;
      height: 100vh;
    }

    &.active {
      transform: translateY(0);
      z-index: 100;
    }
  }


  &-menu__btn {
    display: none;
    height: 20px;
    width: 28px;
    cursor: pointer;
    @include transition-ease;
    z-index: 110;
    position: relative;

    @include response-to(medium) {
      display: block;
    }
  }

  &-menu__burger {
    @include pos-absolute(.5rem, 0);
    width: 28px;
    height: 3px;
    background-color: #fff;

    @at-root %burger_pseudo {
      content: '';
      position: absolute;
      height: 3px;
      background-color: #fff;
      @include transition-ease;
    }

    &:before {
      @extend %burger_pseudo;
      top: -8px;
      width: 28px;
    }

    &:after {
      @extend %burger_pseudo;
      width: 20px;
      top: 8px;
    }

    &.active {
      transform: rotate(720deg);
      background: transparent;

      &:before {
        transform: rotate(45deg) translate(5px, 8px);
      }

      &:after {
        transform: rotate(-45deg) translate(3px, -7px);
        width: 28px;
      }
    }
  }

  &__btn {
    width: 268px;
    text-align: center;
    background-color: #fff;
    height: 100%;
    @include flex-center();
    padding: 0 21px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    font-weight: 500;
    color: #000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    @include transition-ease;

    @include on-event {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      text-decoration: underline;
    }

    @include response-to(large) {
      padding: 0 13px;
    }

    @include response-to(medium) {
      display: none;
    }
  }
}