.slider__item {

  &.first {
    background-image: url("../../../../img/home-page/slider/first-slide.jpg");

    @include response-to(small) {
      background-image: url("../../../../img/home-page/slider/first-slide-mob.png");
    }
  }

  &.first &_content {
    padding-top: 10.33rem;

    @include response-to(small) {
      padding-top: 130px;
    }
  }

  &.first &_caption {
    font-family: $arsenal;
    font-weight: 700;
    text-shadow: 0 4px 14px rgba(0, 0, 0, 0.52);
    color: #fff;
    font-size: 149px;
    line-height: 1.25em;

    @include response-to(small) {
      font-size: 80px;
      line-height: 100px;
    }
  }

  &.first &_subcaption {
    font-family: $arsenal;
    margin-top: -0.55em;
    color: #fff;
    text-shadow: 0 4px 16px rgba(0, 0, 0, 0.54);
    font-weight: 600;
    font-size: 80px;
    line-height: 1.25em;
    margin-bottom: .3em;

    @include response-to(small) {
      font-size: 43px;
      line-height: 54px;
    }
  }
  
  &.first &_text {
    font-family: $helvetica;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 1.21em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);

    @include response-to(small) {
      font-size: 24px;
      line-height: 30px;
      max-width: 235px;
    }
  }
}