.slider__item {

  &.four {
    display: flex;

    @include response-to(small) {
      flex-direction: column;
    }

    & .map {
      flex-basis: 75%;
      background-image: url("../../../../img/home-page/slider/four-slide-bg.svg");
      background-position: bottom left;
      background-size: cover;
      position: relative;
      height: 100%;

      @include response-to(small) {
        order: 2;
        flex-basis: unset;
        width: 100%;
      }

      & > address {
        position: absolute;
        background-color: #fff;
        top: 0;
        right: 0;
        max-width: 385px;
        text-align: center;
        font-family: $roboto;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        padding: 11px 25px;

        @include response-to(medium) {
          font-size: 18px;
        }

        @include response-to(small) {
          background-color: unset;
          font-size: 16px;
          max-width: 80%;
          line-height: 1;
          text-align: right;
        }
      }

      & .subway {
        position: absolute;
        text-align: center;
        bottom: 28px;
        left: 28px;
        font-family: $roboto;
        max-width: 265px;

        @include response-to(small) {
          bottom: 30px;
          left: 50px;
          font-size: 16px;
        }

        &__caption   {
          margin-bottom: 10px;
          font-size: 24px;
          line-height: 28px;
          font-weight: 700;
        }

        &__icon {
          font-size: 30px;
          font-weight: 500;
          color: #fff;
          line-height: 1;
          background-color: #000;
          padding: 3px;
          border-radius: 5px;
          text-transform: uppercase;
          width: fit-content;
          margin: 0 auto 11px;
        }

        & > span {
          display: block;
          margin-top: 5px;
          text-align: center;
          font-size: 14px;
          line-height: 17px;
          text-transform: capitalize;
        }
      }

      & .location {
        font-family: $roboto;
        position: absolute;
        display: flex;
        align-items: center;
        top: 130px;
        left: 270px;

        @include response-to(small) {
          top: 40px;
          left: 20px;
        }

        & > img {
          width: 37px;
          height: 50px;

          @include response-to(small) {
            width: 19px;
            height: 28px;
          }
        }

        & > p {
          font-weight: bold;
          font-size: 24px;
          line-height: 28px;
          margin-right: 25px;

          @include response-to(small) {
            font-size: 18px;
            line-height: 1;
            margin-right: 20px;
          }
        }
      }
    }

    .places {
      flex-basis: 25%;
      min-width: 309px;
      display: flex;
      flex-direction: column;

      @include response-to(medium) {
        width: 15%;
        min-width: unset;
      }

      @include response-to(small) {
        order: 1;
        flex-basis: unset;
        width: 100%;
      }

      .place {
        flex: 0 0 calc(100% / 3);
        background-size: cover;
        background-position: center;
        padding: 14px 20px;

        @include response-to(small) {
          height: 246px;
          flex: unset;
        }

        &:first-of-type {
          background-image: url("../../../../img/home-page/slider/1.jpg");
        }

        &:nth-of-type(2) {
          background-image: url("../../../../img/home-page/slider/2.jpg");
        }

        &:last-of-type {
          background-image: url("../../../../img/home-page/slider/3.jpg");

          @include response-to(small) {
            display: none;
          }
        }

        &__caption {
          max-width: 322px;
          text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
          color: #fff;
          font-weight: 800;
          font-size: 24px;
          line-height: 29px;
        }
      }
    }
  }
}