.slider__item {

  &.third {
    color: #000;
    background-image: url("../../../../img/home-page/slider/third-slide.webp");

    @include response-to(small) {
      background-image: url("../../../../img/home-page/slider/third-slide-mob.webp");
    }
  }

  &.third &_content {
    padding-top: 160px;

    @include response-to(medium) {
      padding-top: 180px;
    }

    @include response-to(small) {
      padding-top: 215px;
    }
  }

  &.third &_caption {
    max-width: 450px;
    margin-bottom: 24px;
    letter-spacing: 0.02em;
    line-height: 130.6%;
    font-weight: 800;
    font-size: 32px;

    @include response-to(small) {
      font-size: 24px;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
      color: #fff;
      max-width: unset;
      margin-bottom: 17px;
    }
  }

  &.third &_text {
    font-weight: 700;
    max-width: 575px;
    font-size: 22px;
    line-height: 150.9%;
    margin-bottom: 12px;

    @include response-to(small) {
      display: none;
    }
  }

  &.third &_btn {
    width: 149px;
    padding: 16px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-top: 30px;
  }
}