.covid {
  padding: 3rem 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba( color( main-color ), .05 );

  &__wrap {
    max-width: 61.67rem;
    margin: 0 auto;
  }

  &__caption {
    letter-spacing: 0.02em;
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 1rem;
  }

  &__subcaption {
    text-transform: initial;
    letter-spacing: .01em;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;

    @include response-to(small) {
      font-size: 12px;
    }
  }

  &__content {
    margin-top: 2.67rem;
    font-family: $roboto;
    @include flex( $j-c: space-between );
    width: 100%;

    @include response-to(small) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
     max-width: 30%;

    @include response-to(small) {
      max-width: 65%;
      margin-bottom: 30px;
    }

    &_caption {
      margin-bottom: .8rem;
      font-size: 2rem;
      line-height: 1;

      @include response-to(small) {
        font-size: 24px;
      }
    }

    &_text {
      font-weight: 400;
      font-size: 12px;
      line-height: 1;

      @include response-to(small) {
        font-size: 11px;
      }
    }
  }
}