.octagon {
  background-color: #fff;
  position: relative;
  width: 100%;

  &_item {
    position: absolute;
    background-color: #fff;

    & .corner {
      position: relative;
      display: block;
      height: 100%;

      &:after {
        position: absolute;
        content: '';
        width: 39.5px;
        height: 18px;
        background-color: #fff;
      }
    }
  }

  &_top {
    height: 26px;
    top: -26px;
    border-top: 1px solid #6F9890;
    left: 0;
    right: 0;

    & .corner:after {
      transform: rotate(-40deg);
      top: 10px;
      left: -28px;
      border-top: 1px solid #6F9890;
    }
  }

  &_bottom {
    border-bottom: 1px solid #6F9890;
    left: 0;
    right: 0;
    bottom: -26px;
    height: 26px;

    & .corner:after {
      border-bottom: 1px solid #6F9890;
      bottom: 10px;
      right: -28px;
      transform: rotate(-40deg);
    }
  }

  &_lt {
    border-left: 1px solid #6F9890;
    top: 0;
    bottom: 0;
    width: 30px;
    left: -30px;

    & .corner:after {
      border-bottom: 1px solid #6F9890;
      left: 1px;
      bottom: -16px;
      transform: rotate(40deg);
    }
  }

  &_rt {
    border-right: 1px solid #6F9890;
    top: 0;
    bottom: 0;
    width: 30px;
    right: -30px;

    & .corner:after {
      border-top: 1px solid #6F9890;
      right: 2px;
      top: -16px;
      transform: rotate(40deg);
    }
  }
}