.first-section {
  position: relative;
  padding: 25px 0;

  &:before {
    $offset: calc((99vw - 1120px) / -2);
    position: absolute;
    content: '';
    width: calc(#{$offset} * -1 + 900px);
    top: 0;
    bottom: 0;
    display: block;
    left: 0;
    background-color: rgba(111, 152, 144, 0.05);
  }

  & .container {
    width: 100%;
    @include flex($j-c:space-between);
  }

  &__text-content {
    margin-top: 47px;
    max-width: 456px;

    &_caption {
      margin-bottom: 24px;
      font-weight: 700;
      font-family: $roboto;
      font-size: 32px;
      line-height: 1.3em;
      text-transform: capitalize;
    }

    &_text {
      font-size: 14px;
      line-height: 1.5em;
    }
  }

  &__photo {
    padding: 31px 41px;
    margin-right: 194px;
    max-width: 35%;
    width: auto;

    &_wrap {

      & img {
        display: block;
        height: auto;
        max-width: 100%;
      }
    }
  }
}