.third-section {
  padding-top: 52px;
  padding-bottom: 117px;
  position: relative;

  @include response-to(medium) {
    padding: 0;
  }

  &__wrap {
    @include flex;
    margin: 0 auto;
  }

  &__diplomas {
    margin-right: 80px;
    padding: 25px 29px;
    max-width: 268px;
    width: 100%;
    @include flex( $direction: column, $a-i: center );

    @include response-to(medium) {
      margin-right: 0;
      max-width: 350px;
      margin-bottom: 100px;
    }

    &_item {
      max-width: 100%;
      max-height: 26rem;
      @include flex-center;
      margin-bottom: 10px;
      padding: 5px;
    }

    &_img {
      display: block;
      max-width: 100%;
      width: auto;
      max-height: 100%;
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
      @include transition-ease;

      @include on-event {
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__text-content {
    max-width: 514px;
    margin-top: 30px;
    font-family: $roboto;

    @include response-to(medium) {
      margin-top: 0;
    }

    &_caption {
      font-weight: 700;
      font-size: 38px;
      line-height: 150%;
      margin-bottom: 25px;

      @include response-to(medium) {
        font-size: 28px;
        margin-bottom: 32px;
      }
    }

    &_text {
      font-weight: 300;
      font-size: 16px;
      line-height: 130.7%;
      margin-bottom: 1.5rem;

      @include response-to(medium) {
        font-size: 22px;
      }
    }
  }

  &__bg1-help {
    position: absolute;
    background-color: rgba( color( main-color ), .03 );
    top: 0;
    bottom: 0;
    width: calc(((100% - 1280px) / 2) + (365px / 2));
  }

  &__bg2-help {
    position: absolute;
    background-color: rgba( color( main-color ), .03 );
    bottom: 0;
    right: 0;
    height: 279px;
    width: 28vw;
  }

  &__bg3-help {
    position: absolute;
    background-color: rgba( color( main-color ), .03 );
    bottom: 117px;
    right: 308px;
    height: 330px;
    width: 346px;
  }
}