.form-section {
  padding: 64px 0 122px;
  background-image: url("../../../img/contacts-page/form-section-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;

  &__wrap {
    max-width: 390px;
    width: 100%;
    padding: 40px;
    background-color: #fff;
  }

  &__caption {
    font-weight: 500;
    font-size: 28px;
    line-height: .9em;
    margin-bottom: 10px;
  }

  &__note {
    font-size: 14px;
    line-height: .9em;
    font-family: $montserrat;
    margin-bottom: 2rem;
  }

  & .form__label {
    display: block;
    padding-top: 0;
    margin-bottom: 16px;
  }

  & .form__input {
    width: 309px;
    margin-top: 6px;
  }

  & .form__btn {
    margin-left: calc( 100% - 309px );
  }
}