.partners {
  margin-top: 65px;
  margin-bottom: 65px;

  @include response-to(small) {
    margin-top: 0;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include response-to(small) {
      flex-direction: column;
    }
  }

  &__image {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include response-to(small) {
      width: 80%;
      max-width: 350px;
    }

    & > img {
      width: 100%;
    }
  }
}