.second-section {
  @include flex;

  @include response-to(medium) {
    margin-top: 50px;
    flex-direction: column;
  }

  &__main-caption {
    font-weight: bold;
    font-size: 32px;
    line-height: 150.5%;
    margin-bottom: 31px;
  }

  & .description-block {
    max-width: 714px;
    width: 100%;
    margin-right: 88px;

    @include response-to(medium) {
      padding-top: 0;
    }

    @include response-to(small) {
      margin-right: 0;
    }

    &__caption {
      margin-bottom: 1em;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.18em;

      @include response-to(medium) {
        margin-bottom: 32px;
      }
    }

    &__text {
      font-family: $montserrat;
      font-size: 14px;
      letter-spacing: 0.01em;
      line-height: 140.5%;
      margin-bottom: 3.33rem;

      @include response-to(medium) {
        font-size: 16px;
      }
    }

    &__btns {
      @include flex;
      align-items: stretch;
      font-family: $montserrat;

      &_btn {
        width: 25.53rem;
        border-radius: 5px;
        margin-right: 1.2rem;
        font-weight: 500;
        padding: 13px 0;
        font-size: 1.2rem;
      }

      &_call {
        background: rgba(111, 152, 144, 0.05);
        max-width: 16.33rem;
        width: 100%;
        padding: 0 13px;
        @include flex( $direction: column, $j-c: space-evenly );
        font-size: .8rem;
        font-weight: 600;
        line-height: 1.25em;

        & span {
          font-weight: 400;
        }

        & a {
          color: #024DBD;

          @include on-event {
            text-decoration: underline;
          }
        }
      }
    }

    &__services {
      font-weight: 500;
      margin-top: 87px;

      &_caption {
        margin-bottom: 47px;
        font-size: 28px;
        line-height: 34px;
        font-weight: 400;

        @include response-to(medium) {
          margin-bottom: 32px;
        }
      }

      &_item {
        @include flex( $a-i: center );
        margin-bottom: 2rem;

        @include response-to(medium) {
          margin-bottom: 1.5rem;
          flex-wrap: nowrap;
        }

        & figure {
          width: 36px;
          @include flex-center;
          margin-right: 16px;

          @include response-to(medium) {
            width: 28px;
            margin-right: 14px;
          }

          & img {
            max-width: 100%;
            height: auto;
          }
        }

        & a {
          color: #000;
          text-decoration: underline;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;

          @include on-event {
            text-decoration: none;
          }
        }
      }
    }
  }

  & .info-block {
    width: calc( 100% - 714px - 88px );
    padding: 5.4rem 0 186px 34px;
    position: relative;

    @include response-to(small) {
      padding-left: 0;
      width: 100%;
      padding-bottom: 30px;
    }

    &:after {
      z-index: 0;
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      bottom: 0;
      background-color: rgba( color( main-color ), .05 );
      right: calc(((100vw - 17px) - 1120px) / -2);
    }

    &__caption {
      max-width: 100%;
      font-weight: 500;
      line-height: 150%;
      font-size: 18px;
      margin-bottom: 50px;
    }

    &__numbers {
      position: relative;
      z-index: 1;

      &_number {
        padding-left: 35px;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 1rem;
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: center left;

        &:first-of-type {
          background-image: url("../../../img/contacts-page/phone-icon.svg");
        }

        &:last-of-type {
          background-image: url("../../../img/contacts-page/fax-icon.svg");
        }

        & a {
          color: #7F6AFF;

          @include on-event {
            text-decoration: underline;
          }
        }
      }
    }

    &__map {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 220px;
      margin: 50px 0;

      & iframe {
        width: 100%;
        height: 100%;
      }
    }

    &__schedule {
      margin-bottom: 84px;

      @include response-to(small) {
        margin-bottom: 32px;
      }

      &_caption {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.06em;
        margin-bottom: 20px;
      }

      &_item {
        font-size: 16px;
        line-height: 1.05em;
        margin-bottom: 14px;

        &-close {
          font-weight: 500;
          font-size: 20px;
          margin-top: 18px;
        }
      }
    }

    &__external-links {
      position: relative;
      z-index: 1;
      margin-bottom: 2rem;

      &_caption {
        font-size: 18px;
        line-height: 150%;
        font-weight: 500;
      }

      &_link {
        color: #7F6AFF;
        font-size: 16px;
        display: inline-block;
        line-height: 170%;
        font-weight: 500;
        margin-right: 10px;

        @include on-event {
          text-decoration: underline;
        }
      }

      &_subcaption {
        font-weight: 500;
        margin-top: 1rem;
        font-size: 18px;
        line-height: 170%;
      }
    }
  }
}